<!DOCTYPE html>
<html lang="en">
   <head>
      <title>About Page</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Bootstrap 4 -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="/css/static.css">
      <link rel="stylesheet" href="/css/about.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <div class="main">
         <div class="navbar">
            <div class="icon">
               <h2 class="logo">AuthentiCure</h2>
            </div>
            <div class="menu">
               <ul>
                  <li><a href="/login">HOME</a></li>
                  <li><a href="/about">ABOUT</a></li>
                  <li><a href="/service">SERVICE</a></li>
                  <li><a href="/contact">CONTACT</a></li>
               </ul>
            </div>
         </div>
         <div class="about-section">
            <h1>About the Project</h1>
            <p> AuthentiCure idea is born after ... 
            </p>
         </div>

         <div class="row">
            <div class="column">
               <div class="card">
                  <img class="icon_user" src="/images/icon_user.jpg" alt="Lorena">
                  <div class="container">
                     <h2>Lorena Goldoni</h2>
                     <p class="title">CEO & Founder</p>
                     <p>Research & Development - Threat Detection Team</p>
                     <p><button class="button">Contact</button></p>
                  </div>
               </div>
            </div>
         </div>

         <div class="footer-clean">
            <footer>
                <div class="container">
                    <div class="row justify-content-center">
    
                        <div class="col-lg-3 item social">
                            <a href="https://it-it.facebook.com/" class="fa fa-facebook"></a>
                            <a href="https://twitter.com/" class="fa fa-twitter"></a>
                            <a href="" class="fa fa-instagram"></a>
                            <p class="copyright">AuthentiCure © 2023</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
      </div>
   </body>
</html>