<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/static.css">
    <link rel="stylesheet" href="/css/contact.css">
    <script src="/js/login.js"></script>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">AuthentiCure</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/login">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/service">SERVICE</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        </div> 


        <div class="background">
            <div class="container">
              <div class="screen">
                <div class="screen-header">
                </div>
                <div class="screen-body">
                  <div class="screen-body-item left">
                    <div class="app-title">
                      <span>CONTACT</span>
                      <span>US</span>
                    </div>
                    <div class="app-contact">CONTACT INFO : +39 346 91 70 67 959</div>
                  </div>
                  <div class="screen-body-item">
                    <div class="app-form">
                      <div class="app-form-group">
                        <input class="app-form-control" placeholder="NAME">
                      </div>
                      <div class="app-form-group">
                        <input class="app-form-control" placeholder="EMAIL">
                      </div>
                      <div class="app-form-group">
                        <input class="app-form-control" placeholder="CONTACT NO">
                      </div>
                      <div class="app-form-group message">
                        <input class="app-form-control" placeholder="MESSAGE">
                      </div>
                      <div class="app-form-group buttons">
                        <button class="app-form-button"><a class="btn btn-primary" onclick="validateForm();">CANCEL</a></button>
                        <button class="app-form-button"><a class="btn btn-primary" onclick="validateForm();">SEND</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          


    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 item social">
                        <a href="https://it-it.facebook.com/" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a>
                        <a href="" class="fa fa-instagram"></a>
                        <p class="copyright">AuthentiCure © Lorygold © 2023</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>