<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/login.js"></script>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Lorygold</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/login">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/service">SERVICE</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>


        </div> 
        <div class="content">
            <h1>Secure <br><span>Authentication</span> <br>Project</h1>
            <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                 expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                <br> a quae totam ipsa illum minus laudantium?</p>

            <button class="cn"><a href="/login">JOIN US</a></button>
            
            <div class="form">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h2>Contact us</h2>
                    <h6 class="u-text u-text-palette-1-base u-text-2">Call us</h6>
                    <p class="u-text u-text-body-color u-text-3">+39 3489067959</p>
                    <h6 class="u-text u-text-palette-1-base u-text-4">Location</h6>
                    <p class="u-text u-text-5">Via Giovanni Celoria, 18, 20133 Milano MI</p>
                    <h6 class="u-text u-text-palette-1-base u-text-6">Our Social Profile</h6>
                    <p class="u-text u-text-7">ADD <br>ADD</p>
                  </div>
                </div>

                
            </div>

        </div>
    </div>
</body>
</html>