<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/static.css">
    <script src="/js/register.js"></script>
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">AuthentiCure</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/service">SERVICE</a></li>
                </ul>
            </div>


        </div> 
        <div class="content">
            <h1><br><span>AuthentiCure</span> <br>a project by Lorygold</h1>
            <p class="par">
                AuthentiCure is a Secure Authentication Sign up and Sign in Project<br>
                based on HTML, AJAX and NodeJS.<br>
                The project aims to provide a basic website with authentication system template<br>
                usable by anyone (companies or freelances).
            </p>    

                <div class="form">
                    <h2>Register form</h2>
                    <input type="text" class="form-control" id="fullName" placeholder="Full name">
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                    <small class="form-text invalid-feedback">Invalid email</small>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <small class="form-text invalid-feedback">Invalid password, required more than 2 letters</small>
                    <input type="password" class="form-control" id="passwordConfirmation" placeholder="Password confirmation">
                    <small class="form-text invalid-feedback">Password confirmation doesn't match with the password input</small>
                    <button type="button" id="registerBtn" class="btnn">Register</button>
                    <p class="link">Do you already have an account?<br>
                    <a href="/login">Login </a> here</a></p>
                </div>
        </div>
    </div>
</div>
</body>
</html>