<!DOCTYPE html>
<html lang="en">
<head>
    <title>Service Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/static.css">
    <link rel="stylesheet" href="/css/service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">AuthentiCure</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/login">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/service">SERVICE</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>

        </div> 
        <div class="content">
            <h1>Services</h1>
            <div class="row">
               <div class="column">
                  <div class="card">
                     <div class="container">
                        <h2>Sign up System</h2>
                        <img src="/images/signup_schema.jpg" alt="signup_schema">
                        <p class="title">based on Bcrypt, AJAX & MySQL</p>
                        <ol>
                            <li>GET request is sent when the "Sign up" link is clicked on the Login page, 
                                redirecting the user to the Register page</li>
                            <li>POST request is sent when the "Register" button is clicked.
                                Before inserting new user credentials to the DB, email and password checks are made.
                            </li>
                            <li>
                                After that, the password is crypted using Bcrypt and the data is sent to the DB with AJAX.
                            </li>                            
                        </ol>
                     </div>
                  </div>
               </div>

            <div class="column">
                <div class="card">
                   <div class="container">
                      <h2>Sign in System</h2>
                      <img src="/images/signin_schema.jpg" alt="signin_schema">
                      <p class="title">based on Cookie & Passport</p>
                      <ol>
                          <li>GET request is sent when the "Login" link is clicked on the navigation bar, 
                            redirecting the user to the Login page</li>
                          <li>POST request is sent when the "Login" button is clicked.<br>   
                              If the credentials are correct, the user will access to the system for a limited range of time decided by the administrator through Cookie settings or until the user logs out.<br>
                              Otherwise, attempts for that user will decrease of 1 attempt.
                          </li>
                      </ol>
                   </div>
                </div>
             </div>

             <div class="column">
                <div class="card">
                   <div class="container">
                      <h2>Security</h2>
                      <img src="/images/security.jpg" alt="security">
                      <p class="title">web attacks analysis</p>
                      <ol>
                          <li>SQL Injection</li>
                          <li>Broken Authentication</li>
                          <li>Brute force</li>
                      </ol>
                   </div>
                </div>
             </div>
        </div>
    </div>

    <div class="footer-clean">
        <footer>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-3 item social">
                        <a href="https://it-it.facebook.com/" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                        <p class="copyright">AuthentiCure © 2023</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>